li {
  text-decoration: none;
  list-style: none;
  overflow-y: hidden;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  overflow-x: visible;
  transform: scaleY(1.1);
  align-items: center;
  border: solid 1px #cc4c4c;
  text-transform: uppercase;
  
}
